h1{
  color:#03045E;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0); 
  top: 15%;
}

.center{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.button{
  background-color: #0077B8;
  border-radius: 30px;
  width: 404px;
  height: 101px;
  font-weight: 500;
  font-size: 40px;
}
body {
  background-color: #C9F0F8;
}

.buttonInput{
  background-color: #0077B8;
  border-radius: 30px;
  width: 404px;
  height: 179px;
  font-weight: 500;
  font-size: 40px;
}

.input{
  background-color: #00B4D8;
  width: 288px;
  height: 52px;
}